<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Главная</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">

</head>
<body>
<header>
    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
    @*     <div class="container-fluid"> *@
    @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HakatonProject</a> *@
    @*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" *@
    @*                 aria-controls="navbarSupportedContent" *@
    @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
    @*             <span class="navbar-toggler-icon"></span> *@
    @*         </button> *@
    @*         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
    @*             <ul class="navbar-nav flex-grow-1"> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
    @*                 </li> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*             <partial name="_LoginPartial"/> *@
    @*         </div> *@
    @*     </div> *@
    @* </nav> *@
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        
        <script src="scripts/chart.js" defer></script>
        <script src="scripts/script.js" defer></script>
    </main>
</div>

<footer class="border-top footer text-muted">
    @* <div class="container"> *@
    @*     &copy; 2025 - HakatonProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @* </div> *@
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>