<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мероприятия</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <style>
        .event-list {
            display: none;
        }

        .events-card {
            gap: 0;
        }
    </style>
</head>
<body>
<div class="dashboard-container">
    <nav class="sidebar">
        <div class="sidebar-logo">
            <img src="../assets/logo.png" alt="logo">
            Active Graph
        </div>
        <ul class="sidebar-nav">
            <li><a href="Home"><span class="iconify" data-icon="mynaui:home"></span></a></li>
            <li><a href="AnalyticPage" style="color: #fff;"><span class="iconify" data-icon="uim:analytics"></span></a>
            </li>
            <li><a href="EventsPage"><span class="iconify" data-icon="material-symbols:event-note-rounded"></span></a>
            </li>
        </ul>
        <div class="sidebar-profile">
            <a href="Interest"><span class="iconify" data-icon="eos-icons:admin"></span></a>
        </div>
    </nav>

    <main class="main-content">
        <div class="widget events-card">
            <div class="header-ec"><h3><span class="iconify" data-icon="material-symbols:event-note-rounded"></span>Создание
                    мероприятия</h3></div>

            <div class="events-card-content">

                <form asp-action="CreateEvent" asp-controller="EventsPage" method="post" enctype="multipart/form-data">
                    <div class="event-detail-card">
                        <div class="event-detail-image" id="image-preview-container">

                            <div class="image-preview-box" id="image-preview-box">
                            </div>

                            <div class="image-upload-controls">
                                <input type="file" id="eventImage" accept="image/*" style="display: none;">

                                <label for="eventImage" class="event-button file-upload-button">
                                    <span class="iconify" data-icon="material-symbols:upload-file"></span>
                                    Выбрать файл...
                                </label>

                                <span id="file-name-display" class="file-name-display">Файл не выбран</span>
                            </div>
                        </div>
                        <div class="event-detail-info">
                            <div class="input-group">
                                <label for="nameEvent">Название мероприятия</label>
                                <input type="text" id="nameEvent" class="styled-input" placeholder="Хакатон">
                            </div>
                            <div class="input-group">
                                <label for="description">Описание</label>
                                <textarea id="description" class="styled-textarea"
                                          placeholder="это мероприятие, на котором команды специалистов в области IT (программисты, дизайнеры, менеджеры) за ограниченное время решают поставленную задачу, создавая прототип продукта или решение конкретной проблемы."
                                          rows="6"></textarea>
                            </div>
                            <div class="input-time">

                                <div class="input-group">
                                    <label for="startTime">Начало мероприятия</label>
                                    <input type="time" id="startTime" class="styled-input styled-time" value="10:30">
                                </div>

                                <div class="input-group">
                                    <label for="endTime">Конец мероприятия</label>
                                    <input type="time" id="endTime" class="styled-input styled-time" value="17:30">
                                </div>

                            </div>
                            <button type="submit" class="event-button">Создать мероприятие</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </main>
</div>
<script src="../scripts/UploadImage.js"></script>
</body>
</html>